#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Стили для главного меню перенесены в mainMenu.module.scss */

/* Стили для игровой сцены перенесены в gameScene.module.scss */
